body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f1f0eb;
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.2em;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    text-decoration: underline;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
}

ul {
    width: 200px;
    margin: 0 auto;
    padding: 0;
    list-style-type: square;
    font-size: 1.2em;
}

li {
    margin: 8px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
